.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 243px;
}

.navbar__menu {
  display: flex;
  gap: 54px;

  .navbar__menu-item {
    color: #a9a9aa;
    font-family: $main-font;
    font-size: 12px;
    font-weight: 600;
  }

  .home {
    color: #fe390c;
  }
}

.navbar__btn {
  color: #fe390c;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 600;
  height: 39px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #fe390c;
  background: transparent;
  transition: 0.4s;
}

.navbar__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
